@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@model List<Sale_BaoCaoTonKhoViewModel>
@{
    ViewBag.isGiaNhap = Erp.BackOffice.Helpers.Common.GetSetting("hiden_gianhap");
    ViewBag.isLoCode = Erp.BackOffice.Helpers.Common.GetSetting("hiden_solo_handung");
    Layout = null;
    int index = 1;
}

<table id="cTable" class="table table-bordered">
    <thead>
        <tr class="" style="display:none">
            <th class="" colspan="10" style="text-align:center"><h4>BÁO CÁO SẢN PHẨM SẮP HẾT HẠN SỬ DỤNG</h4></th>
        </tr>
        <tr>

            <th style="width:40px;text-align:center">STT</th>
            <th style="width:100px;text-align:center">Mã sản phẩm</th>
            <th style="width:200px;text-align:center">Tên sản phẩm</th>
            <th style="width:100px;text-align:center">Nhóm sản phẩm</th>
            <th style="width:100px;text-align:center">Nhà sản xuất</th>
            <th style="width:150px;text-align:center">Kho</th>
            @if (ViewBag.isLoCode == "false")
            {
                <th style="width:100px;text-align:center">Số Lô</th>
                <th style="width:100px;text-align:center">Hạn dùng</th>
            }
            @if (ViewBag.isGiaNhap == "false")
            {
                <th style="width:100px;text-align:center">Đơn giá</th>
            }
            <th style="width:100px;text-align:center">Đơn vị tính</th>
            <th style="width:100px;text-align:center">Số lượng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(index%2==0?"alert-warning":"")">
                <td>
                    <span>@(index++)</span>
                </td>
                <td>@(item.ProductCode)</td>
                <td>@(item.ProductName)</td>
                <td>@(item.CategoryCode)</td>
                <td>@(item.Manufacturer)</td>
                <td>@(item.WarehouseName)</td>

                @if (ViewBag.isLoCode == "false")
                {
                    <td>@(item.LoCode)</td>
                    <td>@(item.ExpiryDate == null ? "" : item.ExpiryDate.Value.ToString("dd/MM/yyyy"))</td>
                }

                @if (ViewBag.isGiaNhap == "false")
                {
                    <td style="text-align:right">@(Common.PhanCachHangNgan(item.Price))</td>
                }
                <td>@(item.ProductUnit)</td>
                <td style="text-align:right">@(Common.PhanCachHangNgan(item.Quantity))</td>
            </tr>
        }
    </tbody>
    <thead style="position:fixed;bottom: 80px;right: 0.7%; width: 16%">
        <tr>
            <td style="text-align:right; width: 115px"><b>Tổng</b></td>
            <td style="text-align:right; width: 115px">@(Common.PhanCachHangNgan(Model.Sum(x => x.Quantity)))</td>
        </tr>
    </thead>
</table>



<script src="~/Scripts/jquery.floatThead.js"></script>

<script>
    $(document).ready(function () {
        $("#cTable").floatThead({ top: 30 });
    });
</script>
@section Scripts {
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
}
