<!DOCTYPE html>
@using Microsoft.AspNet.Identity
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/admin/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/admin/css/fonts.googleapis.com.css" />
    <link href="~/assets/admin/css/Custom.css" rel="stylesheet" />
    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/admin/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link href="~/assets/admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/admin/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/admin/css/ace-rtl.min.css" />
    @*<link href="~/assets/css/DragAndDrop.css" rel="stylesheet" />*@
    @*<script src="~/assets/admin/js/jquery.min.js"></script>*@
    <script src="~/assets/admin/js/ace-extra.min.js"></script>

    <script src="~/assets/admin/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/admin/js/jquery-ui.min.js"></script>


</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Tz Shop
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">


                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <span class="user-info">
                                <small>@User.Identity.GetUserName()</small>
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">


                            <li>
                                <a href="@Url.Action("Index", "Manage")">
                                    <i class="ace-icon fa fa-user"></i>
                                    Quản lý tài khoản
                                </a>
                            </li>

                            <li class="divider"></li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                            }
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="ace-icon fa fa-power-off"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <div id="sidebar" class="sidebar responsive ace-save-state">

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
            

                <li class="@ViewBag.sasphamact">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-book"></i>
                        <span class="menu-text"> Bài viết</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="@ViewBag.SanphamAct">
                            <a href="@Url.Action("Index","View_Page_CategoryPost")">
                                <i class="menu-icon fa fa-angle-double-right"></i>
                                <span class="menu-text"> Menu </span>

                            </a>

                        </li>
                        <li class="@ViewBag.SanphamAct">
                            <a href="@Url.Action("Index","View_Page_New")">
                                <i class="menu-icon fa fa-angle-double-right"></i>
                                <span class="menu-text"> Tin tức </span>

                            </a>

                        </li>

                    </ul>
                </li>
              
                <li class="@ViewBag.SanphamAct">
                    <a href="@Url.Action("Index","View_Page_Slide")">
                        <i class="menu-icon fa fa-exchange"></i>
                        <span class="menu-text"> Slide</span>

                    </a>

                </li>
                <li class="@ViewBag.CaiDatAct">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-cogs"></i>
                        <span class="menu-text"> Cài đặt </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">


                        <li class="">
                            <a href="@Url.Action("Edit","View_Page_Setup")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Cấu hình website
                            </a>
                            <b class="arrow"></b>
                        </li>

                        @*<li class="">
                                <a href="@Url.Action("Index","SapxepHienThis")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Sắp xếp trang chủ
                                </a>
                                <b class="arrow"></b>
                            </li>*@
                    </ul>
                </li>

            
            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>

                <div class="page-content">
                    @RenderBody()
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Thức</span>
                        Application &copy; 2017
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>


        <div id="dialog-message" class="hide">
            <p>
                This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.
            </p>

            <div class="hr hr-12 hr-double"></div>

            <p>
                Currently using
                <b>36% of your storage space</b>.
            </p>
        </div><!-- #dialog-message -->

        <div id="dialog-confirm" class="hide">
            <div class="alert alert-info bigger-110">
                These items will be permanently deleted and cannot be recovered.
            </div>

            <div class="space-6"></div>

            <p class="bigger-110 bolder center grey">
                <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
                Are you sure?
            </p>
        </div><!-- #dialog-confirm -->

    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->

    <script src="~/assets/admin/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/assets/admin/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/admin/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/admin/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/admin/js/jquery.sparkline.index.min.js"></script>
    <script src="~/assets/admin/js/jquery.flot.min.js"></script>
    <script src="~/assets/admin/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/assets/admin/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/admin/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/admin/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/admin/js/dataTables.select.min.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/admin/js/ace-elements.min.js"></script>
    <script src="~/assets/admin/js/ace.min.js"></script>
    <script src="~/assets/admin/js/jquery.nestable.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {

            $('.table').DataTable({});
			})
    </script>


    <script language="javascript" type="text/javascript">

        $(function () {
            function ConfirmDialog(btnID) {
                $(btnID).on('click', function (e) {
                    e.preventDefault();

                    $("#dialog-confirm").removeClass('hide').dialog({
                        resizable: false,
                        width: '320',
                        modal: true,
                        title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> Empty the recycle bin?</h4></div>",
                        title_html: true,
                        buttons: [
                            {
                                html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Delete all items",
                                "class": "btn btn-danger btn-minier",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                            ,
                            {
                                html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
                                "class": "btn btn-minier",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
                });

            }
            function ModalDialog(btn) {
                $(btn).on('click', function (e) {


                    var dialog = $("#dialog-message").removeClass('hide').dialog({
                        modal: true,
                        title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> Thông báo</h4></div>",
                        title_html: true,
                        buttons: [
                            {
                                text: "Thoát",
                                "class": "btn btn-minier",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            },
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-minier",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });

                    /**
                    dialog.data( "uiDialog" )._title = function(title) {
                        title.html( this.options.title );
                    };
                    **/
                });

            }
        $("#Photo").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Photo").val(fileUrl);
            };
            finder.popup();
        });
        function loadImage(urlimage)
        {
            $.ajax({
                url: '@Url.Action("GetListImage", "Images")',
                type: 'GET',
                data: { "image": urlimage },
                success: function (data) {
                    $("#loadListImage").html(data);
                }
            })
        }
        $("#ListPhoto").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                var url=$("#ListPhoto").val();
                url += fileUrl+";";
                $("#ListPhoto").val(url);
                loadImage(url);
            };
            finder.popup();


        });
    });

    </script>

    <script language="javascript" type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Content');
        createEditor('vi', 'CauHinh');
    });

    </script>

    <script type="text/javascript">

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( (charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }


    </script>
</body>
</html>
