@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Account.Models

@model ProductInvoiceViewModel

@{
    if (Model.Id > 0)
    {
        ViewBag.Title = Wording.PageEdit_ProductInvoice;
    }
    else
    {
        ViewBag.Title = Wording.PageCreate_ProductInvoice;
    }

    Layout = "~/Views/Shared/_LayoutPos.cshtml";

    IEnumerable<SelectListItem> categoryList = (IEnumerable<SelectListItem>)ViewBag.categoryList;

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "ProductInvoice",
        ActionName = "CreateNT",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
    List<InventoryViewModel> productList = (List<InventoryViewModel>)ViewBag.productList;
    //IEnumerable<SelectListItem> drugStoreList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectList_DepartmentAllNew(null, Wording.Empty);
    var setting = Erp.BackOffice.Helpers.Common.GetSetting("hide_discount_product_invoice");
    var user_type_onl = Erp.BackOffice.Helpers.Common.CurrentUser.UserTypeCode;
    var setting_readonly = Erp.BackOffice.Helpers.Common.GetSetting("readonly_discount_product_invoice");
    var _readonly = ("," + setting_readonly + ",").Contains("," + user_type_onl + ",") == false ? "true" : "false";
    var _hiden = ("," + setting + ",").Contains("," + user_type_onl + ",") == false ? "false" : "true";
    var _disabled = ("," + setting_readonly + ",").Contains("," + user_type_onl + ",") == false ? "disabled" : "";
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    <style type="text/css">
        #product_search_control {
            display: inline-block;
            position: relative;
            float: left;
        }

            #product_search_control .result {
                position: absolute;
                width: 300px;
                max-height: 300px;
                overflow-y: scroll;
                background: #fff;
                border: 1px solid #ddd;
                border-top: none;
                display: none;
            }

                #product_search_control .result .item {
                    padding: 2px 5px;
                    border-bottom: 1px solid #ddd;
                    cursor: pointer;
                    display: block;
                    text-decoration: none;
                }

                    #product_search_control .result .item:hover, #product_search_control .result .item.selected {
                        background: #eee;
                        font-weight: bold;
                    }

        #categorySelectList_chosen {
            height: 29px !important;
            float: left;
            width: 250px !important;
        }

            #categorySelectList_chosen .chosen-single {
                width: 100%;
                height: 29px !important;
            }


        .mini-popup {
            position: relative;
            display: inline;
        }

        #popup_archive {
            position: absolute;
            bottom: 34px;
            left: -154px;
            width: 410px;
            height: 235px;
            max-width: inherit;
            top: inherit;
        }

        .formcustomer {
            width: 30%;
            background-color: #14efda;
            display: inline-block;
            padding: 10px;
            margin: 3px;
            font-weight: 700;
        }
    </style>
}



@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

<div class="row">
    <div class="col-sm-5 ">

        <div class="tabbable">

            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tabCustomer">
                <li class="active" id="tab11">
                    <a data-toggle="tab" href="#tab1">Tạo Đơn Hàng 1</a>
                </li>

                <li>
                    <a id="tab22" data-toggle="tab" href="#tab2">Tạo Đơn Hàng 2</a>
                </li>
                <li>
                    <a id="tab33" data-toggle="tab" href="#tab3">Tạo Đơn Hàng 3</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane clearfix active" id="tab1">
                    @using (Html.BeginForm_AceStyle((string)ViewBag.Title, "CreateNT", "ProductInvoice", null, FormMethod.Post, new { id = "SaleOrder", @class = "form-horizontal clearfix" }))
                    {
                        @Html.ValidationSummary(true)
                        <input type="hidden" value="@_hiden" id="setting_hiden" name="setting_hiden" />
                        if (Model.Id == 0)
                        {
                            @Html.HiddenFor(model => model.CreatedUserName)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Id)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CreatedUserId)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.IsDeleted)
                            @Html.HiddenFor(model => model.Code)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Status)
                        }
                        @Html.HiddenFor(model => model.BranchId)
                        <div class="row">

                            @if (Model.CustomerId == null)
                            {
                                <div class="alert alert-danger" id="notification">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>

                                    <strong>
                                        <i class="ace-icon fa fa-times"></i>
                                        Thông báo!
                                    </strong>
                                    Chọn khách hàng để thêm sản phẩm
                                    <br>
                                </div>
                            }
                            <div class="widget-box">
                                <div id="listOrderDetail" class="table-responsive top-10 ">
                                    <table class="table table-bordered bottom-5">
                                        <thead>
                                            <tr>
                                                <th width="50">STT</th>
                                                <th min-width="200">Tên sản phẩm</th>
                                                <th>Lô/Hạn SD</th>
                                                <th width="60">SL</th>
                                                <th width="100">Đơn giá</th>

                                                <th width="100">
                                                    % CK cố định
                                                    @Html.TextBox("InputFixedDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="100">
                                                    % CK đột xuất
                                                    @Html.TextBox("InputDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="90">VAT</th>
                                                <th width="90">Thành tiền</th>

                                                <th width="20"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="detailList">
                                            @if (Model.DetailList.Count > 0)
                                            {
                                                foreach (var item in Model.DetailList)
                                                {
                                                    @Html.Partial("LoadProductItemNT", item);
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <input style="width:30px;" autocomplete="off" data-val="true" data-val-required="Vui lòng chọn sản phẩm!" id="ProductItemCount" name="ProductItemCount" type="text" value="@(Model.DetailList != null && Model.DetailList.Count > 0 ? Model.DetailList.Count.ToString() : "")" readonly="readonly" />
                                                </td>
                                                <td colspan="2" class="red"><span id="status"></span></td>
                                                <td id="TongSoLuong" align="right" style="font-weight:bold"></td>
                                                <td></td>
                                                <td>
                                                    <input id="FixedDiscount" class="numberinput2 text-right" name="FixedDiscount" type="text" value="@(Model.FixedDiscount.HasValue?Model.FixedDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="IrregularDiscount" class="numberinput2 text-right" name="IrregularDiscount" type="text" value="@(Model.IrregularDiscount.HasValue?Model.IrregularDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="TaxFee" class="numberinput2 text-right" name="TaxFee" type="text" value="@(Model.TaxFee)" readonly="readonly" />
                                                </td>
                                                <td><input id="TotalAmount" class="numberinput2 text-right" name="TotalAmount" type="text" value="@(Model.TotalAmount)" readonly="readonly" /></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <span style="color:red" class="field-validation-valid help-inline" data-valmsg-for="ProductItemCount" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <br />
                            <br />
                            <div class="widget-header">
                                <h5 class="widget-title">Tổng quan</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">

                                    @if (Model.Id > 0)
                                    {
                                        <div class="detail-view">
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(m => m.Code)
                                            </div>
                                        </div>
                                    }

                                    <p id="test1">tab1</p>
                                    @Html.ModulePopupFor(m => m.CustomerName, "Customer", "", false, true)

                                    <span class="formcustomer">Tên Công Ty:</span><input type="text" id="CompanyName1" name="CompanyName" value="@Model.CompanyName" />
                                    <br />

                                    <span class="formcustomer">Tên Khách Hàng:</span><input type="text" id="CustomerName1" name="CustomerName" value="@Model.CustomerName" />
                                    <br />

                                    <span class="formcustomer">Số Điện Thoại:</span><input type="text" id="CustomerPhone1" name="CustomerPhone" value="@Model.CustomerPhone" />
                                    <br />

                                    <span class="formcustomer">Mã Số Thuế:</span><input type="text" id="TaxCode1" name="TaxCode" value="@Model.TaxCode" />
                                    <br />

                                    <span class="formcustomer">Số Tài Khoản:</span><input type="text" id="BankAccount1" name="BankAccount" value="@Model.BankAccount" />
                                    <br />

                                    <span class="formcustomer">Tên Ngân Hàng:</span><input type="text" id="BankName1" name="BankName" value="@Model.BankName" />
                                    <br />

                                    <span class="formcustomer">Địa Chỉ:</span><input type="text" id="Address1" name="Address" value="@Model.Address" />
                                    <br />

                                    <span class="formcustomer">Ghi chú:</span><input type="text" id="Note1" name="Note" value="@Model.Note" />
                                </div>
                            </div>
                            @*<p></p>
                    <div class="widget-box">
                        <div class="widget-header">
                            <h5 class="widget-title">Thông tin thanh toán</h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                @Html.CustomTextboxFor(model => model.TotalAmount, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                                @Html.CustomTextboxFor(model => model.TaxFee, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", _readonly } })
                                @Html.CustomTextboxFor(model => model.TongTienSauVAT, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                            </div>
                        </div>
                    </div>*@
                            <a class="btn btn-mini btn-primary" onclick="Check();">
                                <i class="ace-icon fa fa-save"></i>
                                @Wording.Save
                            </a>



                        </div>

                    }
                </div>
                <div class="tab-pane clearfix" id="tab2">
                    @using (Html.BeginForm_AceStyle((string)ViewBag.Title, "CreateNT", "ProductInvoice", null, FormMethod.Post, new { id = "SaleOrder2", @class = "form-horizontal clearfix" }))
                    {
                        @Html.ValidationSummary(true)
                        <input type="hidden" value="@_hiden" id="setting_hiden" name="setting_hiden" />
                        if (Model.Id == 0)
                        {
                            @Html.HiddenFor(model => model.CreatedUserName)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Id)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CreatedUserId)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.IsDeleted)
                            @Html.HiddenFor(model => model.Code)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Status)
                        }
                        @Html.HiddenFor(model => model.BranchId)
                        <div class="row">

                            @if (Model.CustomerId == null)
                            {
                                <div class="alert alert-danger" id="notification2">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>

                                    <strong>
                                        <i class="ace-icon fa fa-times"></i>
                                        Thông báo!
                                    </strong>
                                    Chọn khách hàng để thêm sản phẩm
                                    <br>
                                </div>
                            }
                            <div class="widget-box">
                                <div id="listOrderDetail" class="table-responsive top-10 ">
                                    <table class="table table-bordered bottom-5">
                                        <thead>
                                            <tr>
                                                <th width="50">STT</th>
                                                <th min-width="200">Tên sản phẩm</th>
                                                <th>Lô/Hạn SD</th>
                                                <th width="60">SL</th>
                                                <th width="100">Đơn giá</th>

                                                <th width="100">
                                                    % CK cố định
                                                    @Html.TextBox("InputFixedDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="100">
                                                    % CK đột xuất
                                                    @Html.TextBox("InputDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="90">VAT</th>
                                                <th width="90">Thành tiền</th>

                                                <th width="20"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="detailList">
                                            @if (Model.DetailList.Count > 0)
                                            {
                                                foreach (var item in Model.DetailList)
                                                {
                                                    @Html.Partial("LoadProductItemNT", item);
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <input style="width:30px;" autocomplete="off" data-val="true" data-val-required="Vui lòng chọn sản phẩm!" id="ProductItemCount" name="ProductItemCount" type="text" value="@(Model.DetailList != null && Model.DetailList.Count > 0 ? Model.DetailList.Count.ToString() : "")" readonly="readonly" />
                                                </td>
                                                <td colspan="2" class="red"><span id="status"></span></td>
                                                <td id="TongSoLuong" align="right" style="font-weight:bold"></td>
                                                <td></td>
                                                <td>
                                                    <input id="FixedDiscount" class="numberinput2 text-right" name="FixedDiscount" type="text" value="@(Model.FixedDiscount.HasValue?Model.FixedDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="IrregularDiscount" class="numberinput2 text-right" name="IrregularDiscount" type="text" value="@(Model.IrregularDiscount.HasValue?Model.IrregularDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="TaxFee" class="numberinput2 text-right" name="TaxFee" type="text" value="@(Model.TaxFee)" readonly="readonly" />
                                                </td>
                                                <td><input id="TotalAmount" class="numberinput2 text-right" name="TotalAmount" type="text" value="@(Model.TotalAmount)" readonly="readonly" /></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <span style="color:red" class="field-validation-valid help-inline" data-valmsg-for="ProductItemCount" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <br />
                            <br />
                            <div class="widget-header">
                                <h5 class="widget-title">Tổng quan</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">

                                    @if (Model.Id > 0)
                                    {
                                        <div class="detail-view">
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(m => m.Code)
                                            </div>
                                        </div>
                                    }

                                    <p id="test2">tab2</p>

                                    @Html.ModulePopupFor(m => m.CustomerName, "Customer", "", false, true)
                                    <span class="formcustomer">Tên Công Ty:</span><input type="text" id="CompanyName2" name="CompanyName" value="@Model.CompanyName" />
                                    <br />

                                    <span class="formcustomer">Tên Khách Hàng:</span><input type="text" id="CustomerName2" name="@Model.CustomerName" value="@Model.CustomerName" />
                                    <br />

                                    <span class="formcustomer">Số Điện Thoại:</span><input type="text" id="CustomerPhone2" name="CustomerPhone" value="@Model.CustomerPhone" />
                                    <br />

                                    <span class="formcustomer">Mã Số Thuế:</span><input type="text" id="TaxCode2" name="TaxCode" value="@Model.TaxCode" />
                                    <br />

                                    <span class="formcustomer">Số Tài Khoản:</span><input type="text" id="BankAccount2" name="BankAccount" value="@Model.BankAccount" />
                                    <br />

                                    <span class="formcustomer">Tên Ngân Hàng:</span><input type="text" id="BankName2" name="BankName" value="@Model.BankName" />
                                    <br />

                                    <span class="formcustomer">Địa Chỉ:</span><input type="text" id="Address2" name="Address" value="@Model.Address" />
                                    <br />

                                    <span class="formcustomer">Ghi chú:</span><input type="text" id="Note2" name="Note" value="@Model.Note" />
                                </div>
                            </div>
                            @*<p></p>
                    <div class="widget-box">
                        <div class="widget-header">
                            <h5 class="widget-title">Thông tin thanh toán</h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                @Html.CustomTextboxFor(model => model.TotalAmount, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                                @Html.CustomTextboxFor(model => model.TaxFee, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", _readonly } })
                                @Html.CustomTextboxFor(model => model.TongTienSauVAT, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                            </div>
                        </div>
                    </div>*@
                            <a class="btn btn-mini btn-primary" onclick="Check();">
                                <i class="ace-icon fa fa-save"></i>
                                @Wording.Save
                            </a>



                        </div>

                    }
                </div>

                <div class="tab-pane clearfix" id="tab3">
                    @using (Html.BeginForm_AceStyle((string)ViewBag.Title, "CreateNT", "ProductInvoice", null, FormMethod.Post, new { id = "SaleOrder3", @class = "form-horizontal clearfix" }))
                    {
                        @Html.ValidationSummary(true)
                        <input type="hidden" value="@_hiden" id="setting_hiden" name="setting_hiden" />
                        if (Model.Id == 0)
                        {
                            @Html.HiddenFor(model => model.CreatedUserName)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Id)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CreatedUserId)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.IsDeleted)
                            @Html.HiddenFor(model => model.Code)
                            @Html.HiddenFor(model => model.CustomerDiscountId)
                            @Html.HiddenFor(model => model.Status)
                        }
                        @Html.HiddenFor(model => model.BranchId)
                        <div class="row">

                            @if (Model.CustomerId == null)
                            {
                                <div class="alert alert-danger" id="notification3">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>

                                    <strong>
                                        <i class="ace-icon fa fa-times"></i>
                                        Thông báo!
                                    </strong>
                                    Chọn khách hàng để thêm sản phẩm
                                    <br>
                                </div>
                            }
                            <div class="widget-box">
                                <div id="listOrderDetail" class="table-responsive top-10 ">
                                    <table class="table table-bordered bottom-5">
                                        <thead>
                                            <tr>
                                                <th width="50">STT</th>
                                                <th min-width="200">Tên sản phẩm</th>
                                                <th>Lô/Hạn SD</th>
                                                <th width="60">SL</th>
                                                <th width="100">Đơn giá</th>

                                                <th width="100">
                                                    % CK cố định
                                                    @Html.TextBox("InputFixedDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="100">
                                                    % CK đột xuất
                                                    @Html.TextBox("InputDiscount", 0, new { style = "width:50px; text-align:right", @readonly = _readonly })
                                                </th>
                                                <th width="90">VAT</th>
                                                <th width="90">Thành tiền</th>

                                                <th width="20"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="detailList">
                                            @if (Model.DetailList.Count > 0)
                                            {
                                                foreach (var item in Model.DetailList)
                                                {
                                                    @Html.Partial("LoadProductItemNT", item);
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <input style="width:30px;" autocomplete="off" data-val="true" data-val-required="Vui lòng chọn sản phẩm!" id="ProductItemCount" name="ProductItemCount" type="text" value="@(Model.DetailList != null && Model.DetailList.Count > 0 ? Model.DetailList.Count.ToString() : "")" readonly="readonly" />
                                                </td>
                                                <td colspan="2" class="red"><span id="status"></span></td>
                                                <td id="TongSoLuong" align="right" style="font-weight:bold"></td>
                                                <td></td>
                                                <td>
                                                    <input id="FixedDiscount" class="numberinput2 text-right" name="FixedDiscount" type="text" value="@(Model.FixedDiscount.HasValue?Model.FixedDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="IrregularDiscount" class="numberinput2 text-right" name="IrregularDiscount" type="text" value="@(Model.IrregularDiscount.HasValue?Model.IrregularDiscount.Value:0)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <input id="TaxFee" class="numberinput2 text-right" name="TaxFee" type="text" value="@(Model.TaxFee)" readonly="readonly" />
                                                </td>
                                                <td><input id="TotalAmount" class="numberinput2 text-right" name="TotalAmount" type="text" value="@(Model.TotalAmount)" readonly="readonly" /></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <span style="color:red" class="field-validation-valid help-inline" data-valmsg-for="ProductItemCount" data-valmsg-replace="true"></span>
                                </div>


                            </div>
                            <br />
                            <br />
                            <div class="widget-header">
                                <h5 class="widget-title">Tổng quan</h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">

                                    @if (Model.Id > 0)
                                    {
                                        <div class="detail-view">
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(m => m.Code)
                                            </div>
                                        </div>
                                    }

                                    <p id="test3">tab3</p>
                                    @Html.ModulePopupFor(m => m.CustomerName, "Customer", "", false, true)

                                    <span class="formcustomer">Tên Công Ty:</span><input type="text" id="CompanyName3" name="CompanyName" value="@Model.CompanyName" />
                                    <br />

                                    <span class="formcustomer">Tên Khách Hàng:</span><input type="text" id="CustomerName3" name="@Model.CustomerName" value="@Model.CustomerName" />
                                    <br />

                                    <span class="formcustomer">Số Điện Thoại:</span><input type="text" id="CustomerPhone3" name="CustomerPhone" value="@Model.CustomerPhone" />
                                    <br />

                                    <span class="formcustomer">Mã Số Thuế:</span><input type="text" id="TaxCode3" name="TaxCode" value="@Model.TaxCode" />
                                    <br />

                                    <span class="formcustomer">Số Tài Khoản:</span><input type="text" id="BankAccount3" name="BankAccount" value="@Model.BankAccount" />
                                    <br />

                                    <span class="formcustomer">Tên Ngân Hàng:</span><input type="text" id="BankName3" name="BankName" value="@Model.BankName" />
                                    <br />

                                    <span class="formcustomer">Địa Chỉ:</span><input type="text" id="Address3" name="Address" value="@Model.Address" />
                                    <br />

                                    <span class="formcustomer">Ghi chú:</span><input type="text" id="Note3" name="Note" value="@Model.Note" />
                                </div>
                            </div>
                            @*<p></p>
                    <div class="widget-box">
                        <div class="widget-header">
                            <h5 class="widget-title">Thông tin thanh toán</h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                @Html.CustomTextboxFor(model => model.TotalAmount, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                                @Html.CustomTextboxFor(model => model.TaxFee, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", _readonly } })
                                @Html.CustomTextboxFor(model => model.TongTienSauVAT, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right numberinput" }, { "readonly", "readonly" } })

                            </div>
                        </div>
                    </div>*@
                            <a class="btn btn-mini btn-primary" onclick="Check();">
                                <i class="ace-icon fa fa-save"></i>
                                @Wording.Save
                            </a>



                        </div>

                    }
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-7">
        <div style="width:100%;height:40px;background-color:bisque;border-radius:10px;text-align-last:center;padding-top:10px;font-weight:700;">SẢN PHẨM</div>
        <div class="listsearch">
            <div id="Search_Product">
                @if (Model.Id != 0)
                {
                    @Html.Partial("SearchProductInvoice", productList)
                }
            </div>


        </div>
    </div>

</div>


@section Scripts {

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
    <script type="text/javascript">
        var tab1 = 1;
        var tab2 = 0;
        var tab3 = 0;
        function ClosePopupAndReloadPage(id, name, company, taxcode, bankname, bankaccount, address, phone) {

            if (tab3 == 0 && tab1 == 1 && tab2 == 0) {

                document.getElementById("test1").style.color = 'red';
                alert('tab1');
                $("#CompanyName1").val(company);
                $("#CustomerName1").val(name);
                $("#CustomerPhone1").val(phone);
                $("#CustomerId").val(id);
                $("#CustomerId_DisplayText2").val(company);
                $("#TaxCode1").val(taxcode);
                $("#BankAccount1").val(bankaccount);
                $("#BankName1").val(bankname);
                $("#Address1").val(address);


            } else if (tab3 == 0 && tab1 == 0 && tab2 == 1) {
                document.getElementById("test2").style.color = 'red';
                alert('tab2');
                $("#CompanyName2").val(company);
                $("#CustomerName2").val(name);
                $("#CustomerPhone2").val(phone);
                $("#CustomerId").val(id);
                $("#CustomerId_DisplayText").val(company);
                $("#TaxCode2").val(taxcode);
                $("#BankAccount2").val(bankaccount);
                $("#BankName2").val(bankname);
                $("#Address2").val(address);
            } else {
                document.getElementById("test3").style.color = 'red';
                alert('tab3');
                $("#CompanyName3").val(company);
                $("#CustomerName3").val(name);
                $("#CustomerPhone3").val(phone);
                $("#CustomerId").val(id);
                $("#CustomerId_DisplayText").val(company);
                $("#TaxCode3").val(taxcode);
                $("#BankAccount3").val(bankaccount);
                $("#BankName3").val(bankname);
                $("#Address3").val(address);
            }



            ClosePopup(false);
            AppendSearchProduct(id);
            if (id != null) {
                $("#notification").hide();
                $("#notification2").hide();
                $("#notification3").hide();
            }
            else {
                $("#notification").show();
                $("#notification2").show();
                $("#notification3").show();
            }
        };

        $(document).ready(function () {




            $('#listOrderDetail').on('keypress', '.detail_item_price', function (e) {
                if (e.keyCode === 46 || e.keyCode === 44) {
                    e.preventDefault();
                }
            });

            $('#listOrderDetail').on('keypress', '.detail_item_qty', function (e) {
                if (e.keyCode === 46 || e.keyCode === 44) {
                    e.preventDefault();
                }
            });
        });
        $('#tab11').click(function () {

            tab1 = 1;
            tab2 = 0;
            tab3 = 0;



        });
        $('#tab22').click(function () {

            tab1 = 0;
            tab2 = 1;
            tab3 = 0;

        });
        $('#tab33').click(function () {

            tab1 = 0;
            tab2 = 0;
            tab3 = 1;

        });
        $('#CustomerId').change(function () {
            var $this = $(this);
            var $option = $this.find('#CustomerId_DisplayText');
            if ($option.val() != '') {
                $('.listsearch').show();
                $('.alw').hide();
            }
            else {
                alert("Vui lòng chọn khác hàng");
            }

        });
        //$("#BranchId").change(function () {
        //    ShowLoading();
        //    var id = $("#Id").val();
        //    var branch=$("#BranchId option:selected").val();
        //    window.location = window.location.href.split("?")[0] + "?Id=" + id + "&BranchId=" + branch;
        //});
        function selectLocationItem(id, code, name, orderNo) {

            $("#DetailList_" + orderNo + "__SalerName").val(name);
            $("#DetailList_" + orderNo + "__StaffId").val(id);
            ClosePopup();
        }
        function Check() {
            ShowLoading();
            var check = $('input[name="group_choice"]:checked').val();
            var CustomerName = $("#CompanyName").val();
            var messagge = "";
            if (check == 'Customer') {
                if (CustomerName == '')
                    messagge += "Khách hàng chưa có<br>";
            }
            if (messagge != '') {
                alertPopup('Lỗi!', messagge, 'error');
                HideLoading();
            }
            else {

                ClearFormatBeforeSubmit($("#SaleOrder"));
                $("#SaleOrder").submit();
            }
        }

        function AppendSearchProduct(customerId) {
            ShowLoading();
            $.get('/ProductInvoice/SearchProductInvoice/?customerId=' + customerId, function (html) {
                $("#Search_Product").html(html);
                HideLoading();
            });

        };
    </script>
    <script src="~/Scripts/area_sale/product_invoiceNT.js?v=1.0001"></script>

}
