@model Erp.BackOffice.Sale.Models.ProductInvoiceDetailViewModel

@{
    var thanh_tien = Model.Quantity * Model.Price;
    var tien_ck = Convert.ToInt32(Model.Price * Model.FixedDiscount) / 100;
    var tien_ck2 = Convert.ToInt32(Model.Price * Model.IrregularDiscount) / 100;
    if (tien_ck == null)
    {
        Model.FixedDiscountAmount = 0;
    }
    else
    {
        Model.FixedDiscountAmount = tien_ck;
    }
    if (tien_ck2 == null)
    {
        Model.IrregularDiscountAmount = 0;
    }
    else
    {
        Model.IrregularDiscountAmount = tien_ck2;
    }
    var thanh_tien_sau_ck = thanh_tien - Model.FixedDiscountAmount - Model.IrregularDiscountAmount;

}

<tr role="@Model.OrderNo" id="product_item_@Model.OrderNo" data-id="@Model.OrderNo">
    <td class="text-center">
        @(Model.OrderNo + 1)
        <input class="pricetest" type="text" id="DetailList_@(Model.OrderNo)__PriceTest" name="DetailList[@(Model.OrderNo)].PriceTest" value="@Model.PriceTest" data-val="true" autocomplete="off" hidden />
        <input class="product_type" type="text" id="DetailList_@(Model.OrderNo)__ProductType" name="DetailList[@(Model.OrderNo)].ProductType" value="@Model.ProductType" data-val="true" autocomplete="off" hidden />
    </td>
    <td class="detail_item_id">
        @Html.Hidden("DetailList[" + Model.OrderNo + "].ProductId", Model.ProductId)
        @Model.ProductCode - @Model.ProductName

        @*<p>
            <div class="input-group">
                @Html.TextBox("DetailList[" + Model.OrderNo + "].SalerName", Model.SalerName, new { style = "width:85%", @readonly = "readonly", placeholder = "Nhân viên..." })
                <a class="btn btn-mini btn-white" style="height:25px!important;margin-top:-2px;width:15%" onclick="OpenPopup('/Staffs/Search?IsPopup=true&OrderNo=@Model.OrderNo', 'Tìm kiếm dữ liệu', 800, 600)"
                   data-rel="tooltip" title="" data-placement="bottom" data-original-title="Tìm kiếm nhân viên">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            @Html.Hidden("DetailList[" + Model.OrderNo + "].StaffId", Model.StaffId)
            @Html.TextBox("DetailList[" + Model.OrderNo + "].Status", Model.Status, new { style = "width:100%", @class = "detail_item_status", autocomplete = "off", placeholder = "Hiện trạng..." })
        </p>*@

    </td>
    <td>
        @Html.TextBox("DetailList[" + Model.OrderNo + "].Quantity", Model.Quantity, new { style = "width:50px", @class = "detail_item_qty", autocomplete = "off", data_quantity_inventory = Model.QuantityInInventory })
    </td>
    <td>
        @Html.TextBox("DetailList[" + Model.OrderNo + "].Price", Model.Price, new { style = "width:85px", @class = "detail_item_price", autocomplete = "off" })

    </td>
    <td>
        @Html.TextBox("DetailList[" + Model.OrderNo + "].FixedDiscount", Model.FixedDiscount, new { style = "width:85px", @class = "detail_item_discount", autocomplete = "off" })

        @Html.TextBox("DetailList[" + Model.OrderNo + "].FixedDiscountAmount1", Erp.BackOffice.Helpers.Common.PhanCachHangNgan(Model.FixedDiscountAmount), new { style = "width:85px;", @class = "detail_item_discount_amount", autocomplete = "off", @readonly = "readonly" })
    </td>
    <td class="detail_item_total">@Erp.BackOffice.Helpers.Common.PhanCachHangNgan(thanh_tien_sau_ck)</td>
    @*<td class="text-center">
        <label>
            <input class="detail_item_check ace" type="checkbox" name="DetailList[@Model.OrderNo].CheckPromotion" id="DetailList_@(Model.OrderNo)__CheckPromotion" value="@(Model.CheckPromotion==true?"True":"False")" data-orginal-price="@Model.Price" @(Model.CheckPromotion != null && Model.CheckPromotion == true ? "checked=\"checked\"" : "") />
            <span class="lbl">
            </span>
        </label>
    </td>*@
    <td class="text-center">
        <a class="btn-delete-item">
            <i class="ace-icon fa fa-trash red bigger-120" style="cursor:pointer"></i>
        </a>
    </td>
</tr>