@model Erp.BackOffice.Account.Models.CustomerViewModel

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using Erp.Domain.Account.Entities
@using Erp.Domain.Sale.Entities
@using GridMvc.Html

@{
    if (ViewBag.IsNullLayOut == true)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");

    }
    ViewBag.Title = "Thông tin chi tiết khách hàng";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Customer",
        ActionName = "Detail",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = Request["IsDetailChart"] != null ? false : true,
    };
    //SelectList mobileList = new SelectList(ViewBag.mobileList, "Mobile", "Mobile");

    IEnumerable<ProductInvoiceViewModel> serviceInvoice = (IEnumerable<ProductInvoiceViewModel>)ViewBag.service;
}

<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<style>
    .img_user {
        width: 40px !important;
        height: 40px !important;
        margin: 0 auto;
        /* display: block; */
        border-radius: 100%;
        border: 2px solid;
    }

    .user_check {
        width: 30px !important;
    }


    #Customer select {
        width: 100%;
    }
</style>

@helper GridColumnName(string name, int id)
{
    name = string.IsNullOrEmpty(name) ? "No Title" : name;
    <a href="@Url.Action("UsingServiceLog", "Service", new {area="Sale", Id = id })">@name</a>

}

@helper GridColumnStaffName(int? userId)
{
    var staff = Common.GetStaffByUserId(userId.Value);
    <span>@(staff != null ? staff.Name : "-")</span>
}

@if (ViewBag.IsNullLayOut != true)
{
    using (Html.BeginPageHeaderContainer(pageSetting))
    {
    }
}
@if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
{
    <div class="alert alert-block alert-success">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}
<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    đã gộp thành công.
</div>

<div class="alert alert-danger" id="danger-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>warning! </strong>
    Không tìm thấy khách hàng có số điện thoại cần gộp.
</div>



<div class="row">
    <div class="col-sm-7">
        <h4 class="green">
            Khách hàng: @Model.CompanyName
            <a class="btn btn-sm btn-white btn-primary pull-right red" onclick="OpenPopup('@Url.Action("LiabilitiesDetail", "TransactionLiabilities", new { TargetModule = "Customer", TargetCode = Model.Code, TargetName = Model.CompanyName, popup = true })', 'Chi tiết công nợ', 0, 500)">
                <b>Công nợ: @(Model.Liabilities >= 0 ? Common.PhanCachHangNgan(Model.Liabilities) : "-" + Common.PhanCachHangNgan(Math.Abs(Model.Liabilities)))</b>
            </a>
        </h4>
        <div class="tabbable top-10">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tabCustomer1">
                @*<li id="tab_li_1" class="active">
                        <a data-toggle="tab" href="#tab_1">Số lần sử dụng dịch vụ</a>
                    </li>*@
                <li id="tab_li_2" class="active">
                    <a data-toggle="tab" href="#tab_2">Lịch sử hóa đơn</a>
                </li>
            </ul>
            <div class="tab-content">
                @*<div class="tab-pane active clearfix" id="tab_1">
                        @{Html.RenderAction("UsingService", "Service", new { area = "Sale", CustomerId = Model.Id, popup = true, IsNullLayOut = true });}
                    </div>*@
                <div class="tab-pane active clearfix" id="tab_2">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:130px">Ngày chứng từ</th>
                                    <th style="width:110px">Mã chứng từ</th>
                                    <th style="width:180px">Nhân viên lập phiếu</th>
                                    <th style="width:100px">Số tiền</th>
                                </tr>
                            </thead>
                            <tbody class="detailList">
                                @foreach (var i in serviceInvoice)
                                {
                                    <tr data-type="" data-id="">
                                        <td class="">@i.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td class="has-error">

                                            @if (Request["IsDetailChart"] == null || Request["IsDetailChart"] != "true")
                                            {
                                                <a href="@Url.Action("Detail", "ProductInvoice", new { area = "Sale", Id = i.Id })">@i.Code</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Detail", "ProductInvoice", new { area = "Sale", Id = i.Id, IsPopUp= true, IsChart = true })">@i.Code</a>
                                            }
                                        </td>
                                        <td class="">@i.SalerFullName</td>
                                        <td class="text-right">@Common.PhanCachHangNgan(i.TotalAmount)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tabCustomer2">
                <li id="tab_li_KH" class="active">
                    <a data-toggle="tab" href="#tab_KH">Thông tin khách hàng</a>
                </li>
                <li id="tab_li_LH">
                    <a data-toggle="tab" href="#tab_LH">Thông tin thêm</a>
                </li>
                @*<li id="tab_li_CK">
                        <a data-toggle="tab" href="#tab_CK">Bản cam kết</a>
                    </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane active clearfix" id="tab_KH">
                    @Html.Partial("DetailSidebar", Model)
                </div>
                <div class="tab-pane clearfix" id="tab_LH">
                    <div class="row top-10">
                        <div class="col-xs-12">
                            <div class="widget-box">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="detail-view">
                                            <div class="row control-group">
                                                @Html.HiddenFor(model => model.Id, new { id = "IdCus", @class = "col-xs-4 col-xs-8" })
                                            </div>
                                            @*<div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.TaxCode, null, null, "col-xs-4", "col-xs-8")
                                                </div>*@
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.TaxCode, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.BankAccount, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.BankName, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.ProvinceName, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.DistrictName, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            <div class="row control-group">
                                                @Html.DetailViewItemFor2(model => model.WardName, null, null, "col-xs-4", "col-xs-8")
                                            </div>
                                            @*<div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.BankAccount, null, null, "col-xs-4", "col-xs-8")
                                                </div>*@
                                            @*<div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.BankName, null, null, "col-xs-4", "col-xs-8")
                                                </div>*@
                                            
                                            @*<div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.ProvinceName, null, null, "col-xs-4", "col-xs-8")
                                                </div>
                                                <div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.DistrictName, null, null, "col-xs-4", "col-xs-8")
                                                </div>
                                                <div class="row control-group">
                                                    @Html.DetailViewItemFor2(model => model.WardName, null, null, "col-xs-4", "col-xs-8")
                                                </div>*@
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="tab-pane clearfix" id="tab_CK">
                        @{Html.RenderAction("Index", "CustomerCommitment", new { area = "Account", CustomerId = Model.Id });}
                    </div>*@
            </div>
        </div>
    </div>
</div>












<div class="modal" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPaymentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalPaymentLabel">Chọn màn hình kết nối chụp hình</h4>
            </div>
            <div class="modal-body">
                <div data-toggle="buttons" class="btn-group">
                    @foreach (var item in SelectListHelper.GetSelectList_UserbyType("MayTinhBang", null, null))
                    {
                        <label class="btn btn-sm btn-white" data-toggle="tooltip" onclick="clickActive(this, @item.Value)" title="@item.Text" id="label_@item.Value" name="label_@item.Value" style="padding:2px!important;margin-left:2px!important;margin-bottom:2px!important;width:200px">
                            <input type="radio" value="@item.Value" id="check_@item.Value" name="UserId" class="user_check">
                            <img class="img-user" src="@Erp.BackOffice.Helpers.Common.KiemTraTonTaiHinhAnh("image","User","maytinhbang")" style="width:40px;height:40px">
                            <strong> @item.Text </strong> <br>
                        </label>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-mini btn-primary" id="showTakePhotoForm">
                    <i class="ace-icon fa fa-refresh"></i>
                    Kết nối chụp hình
                </button>
            </div>
        </div>
    </div>
</div>

<div class=" row">
    @using (Html.BeginButtonContainer(pageSetting))
    {

        if (Request["IsDetailChart"] == null || Request["IsDetailChart"] != "true")
        {

            if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Edit", "Customer", "Account"))
            {
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        <a class="btn btn-mini btn-primary" href="@Url.Action("Edit", pageSetting.ModuleName, new { Id = Model.Id })">
                            <i class="ace-icon fa fa-edit"></i>
                            @Wording.Edit
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Nhập số di dộng " style="height: 27px; font-size: 8.5pt " name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
                    </div>
                    <div class=" col-sm-2">
                        <a class="btn btn-mini btn-primary" id="savetab1" onclick="Savetab1OK();">
                            <i class="ace-icon fa fa-save"></i>
                            Gộp khách hàng
                        </a>
                    </div>
                </div>
            }

        }
    }

</div>
@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('[data-rel=tooltip]').tooltip({ container: 'body' });
        });




        $(document).ready(function () {
            $("#success-alert").hide();
            $("#danger-alert").hide();

             });

        function Savetab1OK() {


           // alert("da chay vao ham nay");
        //alert(customerId);
            ShowLoading();
            var mobile = $('#search-box').val();
        $.ajax({
            type: "POST",
            url: "/Customer/GetMobile",
            data: JSON.stringify({ search: mobile }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                HideLoading();
                if (r == "0") {
                        $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#danger-alert").slideUp(500);
                    });

                } else {


                    var id = r.Id;
                    var r = confirm("Đã tìm thấy khách hàng cần gộp có tên " +"-" + r.FirstName +" "+ r.LastName +"-" + " số điện thoại " + r.Mobile + " .Bạn có muốn gộp không?");
                    if (r == true) {
                        debugger
                        var IDCUs = $('#IdCus').val();
                        console.log(IDCUs);
                        console.log(id);
                        $.ajax({
                            type: "POST",
                            url: "/Customer/Detail",
                            data: JSON.stringify({ searchTermId: id ,Id : IDCUs}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {
                                HideLoading();
                                if (r == "0") {

                                }
                                else {

                                }
                            }
                        });
                        //////// ajax

                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success-alert").slideUp(500);

                        });

                    } else {

                    }



                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                HideLoading();
                 alert("3");
                $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
                    $("#danger-alert").slideUp(500);
                });
            }
        });
    }

        $(function () {
            $('#Amount').numberFormat();
            var amountRemain = 0;
            $('input[type=radio][name=TransactionId]').change(function () {
                //console.log(this.value);
                $('#OriginalTransactionId').val(this.value);
                amountRemain = parseFloat($(this).data("remain"));
                //console.log(amountRemain);
                $('#mask-Amount').val(currencyFormat(amountRemain));
                $('#Amount').val(amountRemain);
                $("#Thanhtoan").show();
                $(".alert-required-transactionId").hide();

                if ($(this).data("hasprocesspayment")) {
                    $('#ProcessPaymentId').val($('.ProcessPaymentId:checked').val());
                    var amount = $('.ProcessPaymentId:checked').data("amount");
                    $('#mask-Amount').val(currencyFormat(amount));
                    $('#Amount').val(amount);

                    $('#mask-Amount').attr('readonly', 'readonly');

                    checkNextPaymentDate();
                    $('#NextPaymentDate').val($(this).data("nextpaymentdate"));
                    $('#NextPaymentDate').attr('readonly', 'readonly');
                }
                else {
                    $('#ProcessPaymentId').val(0);
                    $('#mask-Amount').removeAttr('readonly');
                    $('#NextPaymentDate').removeAttr('readonly');
                }
            });

            $('#usingservice').show();
            $('#mask-Amount').blur(function () {
                checkNextPaymentDate();
            });

            $('#mask-Amount').focus(function () {
                $(this).select();
            });

            $('#mask-Amount').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                }
            });

            function checkNextPaymentDate() {
                if (parseFloat($('#Amount').val()) < amountRemain) {
                    $('.NextPaymentDate-container').show();
                    $('#AmountRemain').val(currencyFormat(amountRemain - parseFloat($('#Amount').val())));
                }
                else {
                    $('.NextPaymentDate-container').hide();
                }
            }
        });

        function ResolveLiabilities_OnSuccess(rs) {
            location.reload();
        }

        function checkOnSubmit() {
            if ($('#OriginalTransactionId').val() == '') {
                $(".alert-required-transactionId").show();
                return false;
            }
            else {
                $(".alert-required-transactionId").hide();
                return true;
            }
        }
        //đóng thẻ div tập tin
        function AllowClose() {
            $("#Thanhtoan").hide();
        }

        document.getElementById("showTakePhotoForm").onclick = function () {
            var checkbox = document.getElementsByName("UserId");
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true) {
                    //alert(checkbox[i].value);
                    $("#modalPayment").modal("hide");
                    OpenPopup('@Url.Action("TakePhoto", "Customer", new {Id = Model.Id })?UserId=' + checkbox[i].value + '&IsPopup=true', 'Chụp hình khách hàng', 0, 420);
                }
            }
        };
        function clickActive(elem, id) {
            //  console.log(1111);
            var $this = $(elem);

            var $chekbox = $this.find('input[type="checkbox"]');
            var $label = $this.find('label[name="label_' + id + '"]');
            if ($chekbox.is(':checked')) {
                $chekbox.prop('checked', false);
                $label.removeClass('active');
            } else {
                $chekbox.prop('checked', true);
                $label.addClass('active');
            }
            //$('span[id="count_check_' + id + '"]').text($this.parent().find(' > label.active').length);
        }


    </script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var erpHub = $.connection.erpHub;

            // Start the connection.
            $.connection.hub.start().done(function () {

            });

            $('#myModal').on('hidden.bs.modal', function () {
                var checkbox = document.getElementsByName("UserId");
                for (var i = 0; i < checkbox.length; i++) {
                    if (checkbox[i].checked === true) {
                        erpHub.server.loadUrl('/Customer/Client', checkbox[i].value);
                    }
                }
            });
        });


    </script>
    <script>
        $("#searchInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetMobile","Customer")',
                    dataType: "json",
                    data: { search: $("#searchInput").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Mobile, value: item.Mobile };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });
    </script>

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
    @Html.ScriptBottom_ChosenStyle()


}



